project/.flows.json.backup
[
    {
        "id": "debcae8d65b246ce",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "406ca65e18d7c1de",
        "type": "mqtt in",
        "z": "debcae8d65b246ce",
        "name": "",
        "topic": "Project-3-topic-iot",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "269f9f80bd3e6cbb",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "3c7fbf3aa1c00b6e"
            ]
        ]
    },
    {
        "id": "9fddd0f9747d7064",
        "type": "function",
        "z": "debcae8d65b246ce",
        "name": "Update Slot",
        "func": "const beacon = global.get(\"beacon\");\nconst {client_id} = msg.payload;\n\nif (!(client_id in beacon.slot_allocation)) {\n    const slot = beacon.slots++;\n    beacon.slot_allocation[client_id] = slot;\n    return { payload: beacon.slot_allocation };\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 260,
        "wires": [
            [
                "0610ef819c5afb10"
            ]
        ]
    },
    {
        "id": "f4239f1d7ad99041",
        "type": "inject",
        "z": "debcae8d65b246ce",
        "name": "Init",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "x": 450,
        "y": 200,
        "wires": [
            [
                "5f64de145ca3778a"
            ]
        ]
    },
    {
        "id": "5f64de145ca3778a",
        "type": "function",
        "z": "debcae8d65b246ce",
        "name": "Reset global.beacon",
        "func": "const beacon = {\n    // Type of the message.\n    \"message_type\": \"beacon\",\n    // Beacon metadata.\n    \"beacon_interval\": 15000,\n    \"superframe_duration\": 10000,\n    \"collision_access_part_duration\": 2000,\n    \"collision_free_part_duration\": 8000,\n    \"slot_duration\": 1000,\n    \"slots\": 0,\n    \"slot_allocation\": {\n        // \"client1\": 1,\n        // \"client2\": 2,\n        // \"client3\": 3,\n        // \"client4\": 4\n    }\n}\n\nglobal.set(\"beacon\", beacon);\n\nreturn { payload: beacon }",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 200,
        "wires": [
            [
                "b7b34d7e09ced11c"
            ]
        ]
    },
    {
        "id": "370ac6e3f8f1bf61",
        "type": "inject",
        "z": "debcae8d65b246ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "100",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "beacon",
        "payloadType": "global",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "fdc8e7024dada3b2",
                "db67b3617325b344"
            ]
        ]
    },
    {
        "id": "fdc8e7024dada3b2",
        "type": "mqtt out",
        "z": "debcae8d65b246ce",
        "name": "",
        "topic": "Project-3-topic-iot",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "269f9f80bd3e6cbb",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "3c7fbf3aa1c00b6e",
        "type": "function",
        "z": "debcae8d65b246ce",
        "name": "Filter register messages",
        "func": "const { client_id, message_type} = msg.payload;\n\nif (message_type === \"registration\" && \n    typeof client_id === \"string\") {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 260,
        "wires": [
            [
                "9fddd0f9747d7064"
            ]
        ]
    },
    {
        "id": "b7b34d7e09ced11c",
        "type": "debug",
        "z": "debcae8d65b246ce",
        "name": "Initial beacon",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "0610ef819c5afb10",
        "type": "debug",
        "z": "debcae8d65b246ce",
        "name": "Updated slot",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 260,
        "wires": []
    },
    {
        "id": "db67b3617325b344",
        "type": "debug",
        "z": "debcae8d65b246ce",
        "name": "Sent beacon",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 380,
        "wires": []
    },
    {
        "id": "269f9f80bd3e6cbb",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]